# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# MongoDB
SPRING_MONGODB_HOST=localhost
SPRING_MONGODB_PORT=27017
SPRING_MONGODB_USERNAME=admin
SPRING_MONGODB_PASSWORD=password
SPRING_MONGODB_DATABASE=pricestream
SPRING_MONGODB_AUTHENTICATION_DATABASE=admin

# Redis
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379

# APIs
COINGECKO_API_KEY=
